@import url('https://fonts.googleapis.com/css?family=Inconsolata');

 .winner-body {
    height: 500px;
    overflow: hidden;
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }