
 
<div class="framebattle"> 
<section id="team" class="parallax-section">
  <div class="container">

  



      <div class="row">

      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
         <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
            <h2>About Us</h2>
            <h4>Meet Our Team</h4>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-thumb">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAzPAAAAJDk3OGYzNDBiLTU0MTktNDc3NS1iN2Y5LTQwNTcxYWU0MWNmNg.jpg" class="img-responsive" alt="Team">  
                <div class="team-des">
                  <h2>Maynard</h2>
                  <h4>Full-Stack Dev/Project Manager</h4>
                    <ul class="social-icon">
                      <li><a href="https://www.linkedin.com/in/maynard-breslow-03089184/" class="fa fa-linkedin fa-2x"></a></li>
                      <li><a href="https://github.com/mbreslow56" class="fa fa-github fa-2x"></a></li>            
                    </ul>
                </div>
          </div>
          <p>After becoming a self-taught coder and free-lance developer, Maynard traveled from Los Angeles to Tel Aviv to hone his full-stack skills in a Javascript bootcamp. Maynard integrates his rapidly expanding development skills with his love of people and experience in marketing and entrepreneurship that creates a dangerous combo in the ever-changing tech landscape.</p>
      </div>

      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="team-thumb">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA3FAAAAJGE0NTU2ODg3LTVjZTMtNDU5Yy04ODBiLTUxMTUwNThhNDMwYQ.jpg" class="img-responsive" alt="Team">  
              <div class="team-des">
                <h2>Arkadi</h2>
                <h4>Full-Stack Dev/Functionality</h4>
                  <ul class="social-icon">
                      <li><a href="https://www.linkedin.com/in/arkadizavurov/" class="fa fa-linkedin"></a></li>
                      <li><a href="https://github.com/ArkadiZav" class="fa fa-github"></a></li>
                  </ul>
              </div>
          </div>
          <p>Aside from being brilliant and naturally gifted, Arkadi works tirelessly and has become a coding machine. He enjoys logic and algorithms, but especially loves difficult challenges. It is rare to find someone who is not only good at what he does but also caring and able to explain difficult concepts to expert and lay-person alike. He is as relentless as anyone making him an invaluable resource to our team.</p>
      </div>

      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
          <div class="team-thumb">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwNAAAAJGI1MzU2NGEzLTc4ODgtNGQxMC1iODRiLWEwNzVmNjA1NTgwYQ.jpg" class="img-responsive" alt="Team">  
              <div class="team-des">
                <h2>Arik</h2>
                <h4>Full-Stack Dev/Database</h4>
                  <ul class="social-icon">
                      <li><a href="https://www.linkedin.com/in/arik-aviv-54b096139/" class="fa fa-linkedin"></a></li>
                      <li><a href="https://github.com/arik92" class="fa fa-github"></a></li>
                  </ul>
              </div>
          </div>
          <p>Arik is the best of both worlds. Not only is he exceptional with logic, he is an excellent communicator and a pleasure to work with, making him a welcomed addition to any team. He is a thoughtful and thorough coder, but an even more thoughtful person. Being a jack of all trades so-to-speak, Arik is not afraid to break his comfort zone and can handle any challenge.</p>
      </div>

         <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1.0s">
          <div class="team-thumb">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAogAAAAJGY5YTQzYjVkLTFlNzItNDVjYi04MDJkLTFlNmQxYmY2OTI5NA.jpg" class="img-responsive" alt="Team">  
              <div class="team-des">
                <h2>Aleksandra</h2>
                <h4>Full-Stack Dev/UI/UX Designer</h4>
                  <ul class="social-icon">
                     <li><a href="https://www.linkedin.com/in/aleksandragrd/" class="fa fa-linkedin"></a></li>
                      <li><a href="https://github.com/aleksandra55" class="fa fa-github"></a></li>
                  </ul>
              </div>
          </div>
          <p>Aleksandra brings a wide-array of life experiences to her work and approach. Well-equipped to succeed in any coding task placed in front of her, she has an exceptional eye and style for UI/UX design. Aleks exemplifies dedication and a willingness to take chances and grow. Seeing as how she is as good at coding as she is brightening a room, Aleksandra is a valuable asset to our team.</p>
      </div>



<!--       <div class="clearfix"></div>

      <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
        <h2>About us</h2>
         <p>Fusce lobortis quis nisl nec facilisis. Donec fringilla ipsum arcu, quis maximus est molestie eget. Nunc ullamcorper suscipit neque, ac malesuada purus molestie non. Phasellus sollicitudin urna sed ultrices dictum.</p>
      </div>

      <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
        <h2>Our Services</h2>
         <p>Maecenas dictum cursus dui, quis mattis eros ultricies sed. Maecenas ligula nulla, dictum eu cursus id, semper in orci. Fusce vel nisi hendrerit justo viverra vehicula in nec nunc. Curabitur blandit fringilla quam.</p>
      </div>
 </div> -->
    </div>

 
 </div>  
</div>
 
  </section> 
