<!-- <link rel="stylesheet" href="../../css/style.css"/> -->

<div class="framebattle">
  <div class="container">
    <div class="row">
      <!--  <div class="container">
    <div class="row"> -->
      <!--  <div class="col-md-6 col-md-offset-3"> -->
      <div class="page-header">
        <div class="row text-center">
          <div class="page-header">
            <h2 class="wow fadeInUp" data-wow-delay="0.6s">{{battleName}}</h2>
          </div>
          <div class="sharethis-inline-share-buttons"></div>

          <!-- <div class="container">
          <div class="row"> -->
          <div class="col-md-6 col-sm-6 wrapper">
            <!--               <label class="text-center"> First video </label> -->

            <br><br>
            <youtube-video video-url="video1" player="bestPlayer" enablejsapi="true" video-id="whtbb" player-width="'100%'" player-vars="player1Vars">
            </youtube-video>
            <button ng-hide="pressedVote" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" id="mybutton" ng-click="pauseFirstBeginSecond(bestPlayer, bestPlayer2)">Skip</button>
            <button ng-show="showVotes" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" id="vote1" ng-click="voted(1)">Vote!</button>
            <div class="col-md-offset-3">
              <div id="graph" style="margin:20px;width:300px;height:300px;position:relative"></div>
            </div>
          </div>

          <br><br>

          <div class="col-md-6 col-sm-6 wrapper">
            <!--               <label class="text-center"> Second video </label> -->
            <youtube-video id="second" video-url=video2 player="bestPlayer2" enablejsapi="true" video-id="braingame" player-width="'100%'" player-vars="player2Vars">
            </youtube-video>
            <button ng-hide="video2NotStarted" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" id="mybutton2" ng-click="pauseSecond(bestPlayer2)">Skip</button>
            <button ng-show="showVotes" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" id="vote2" ng-click="voted(2)">Vote!</button>
            <div class="col-md-offset-3">
              <div id="graph2" style="margin:20px;width:300px;height:300px;position:relative"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="didVote" class="alert alert-info .fade .in">You have already voted </div>
      <div ng-show = "afterVote" class="alert alert-success .fade .in">You have voted successfully</div>
    </div>
  </div>
</div>

<br><br>
<!-- to-do list -->
<!-- 	<div id="categoryDiv" ng-controller="categoryCtrl">
  	  <h3 >Add a category you'd like to see:	 </h3>
  	  <input type="text" ng-model="category"/>
  	  <input type="button" value="Add" ng-click="addCategory()">
	  <ul class="categoryList">
	    <li ng-repeat="category in categories">{{category}}  <a href="" ng-click="removeCategory($index)">Remove</a></li>
	  </ul>
	</div>
	<br><br>
	<div id="userNamesDiv" ng-controller="userNamesCtrl">
	<h3>Top chUsr Talent</h3>
	<ul >
	 <li ng-repeat="userNames in userNames | orderBy: '-rating'">
	 	User: <a href="#">{{ userNames.username | uppercase }}</a> - Rating: {{userNames.rating}}
	 </li>
	</ul>
	</div> -->
<br><br>
