<div class="framebattle">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <h3>
          <i class="icon-star opacity-large"></i>
          <i class="icon-star opacity-medium"></i>
          <i class="icon-star opacity-small"></i>
            <span class="completed-btl-headline"> completed Battles </span>
          <i class="icon-star opacity-small"></i>
          <i class="icon-star opacity-medium"></i>
          <i class="icon-star opacity-large"></i>
        </h3>
        <br />
      </div>
    </div>
  </div>
</div>
