<div class="framebattle">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <br><br>
          <h2 class="wow fadeInUp completed-btl-headline2" data-wow-delay="0.3s"> Completed Battles 
          </h2>
        <div class="page-header"></div>
        <br />
        <div class="wow fadeInUp iso-box-wrapper col4-iso-box" data-wow-delay="0.6s">
          <div ng-repeat="thumbnail in thumbnails track by $index" class="iso-box breakfast pizza lunch col-md-4 col-md-offset-0 col-sm-6" id="{{'progress' + $index}}">
            <h3 class="completed-btl-headline">{{allCompleted[$index].battleName}}</h3> <br />
            <h4><span class="completed-stat">Winner</span>:  <span class="numVotes">{{allCompleted[$index].winner.username}}</span> with a total of <span class="numVotes">{{allCompleted[$index].voteGoal}}</span> votes</h4>
            <br />
            <h4><span class="completed-stat">Date of victory</span>: {{allCompleted[$index].date}}</h4>
            <br />
            <div>
              <div ng-click="getCurr($index)" class="gallery-thumb ongoing-battle">
                <h4>{{allCompleted[$index].user1.username}}</h4>
                <img ng-src="{{thumbnail.video1}}" class="fluid-img" alt="Gallery">
                <h2> VS </h2>
                <h4>{{allCompleted[$index].user2.username}}</h4>
                <img ng-src="{{thumbnail.video2}}" class="fluid-img" alt="Gallery">
                <div class="gallery-overlay">
                  <div class="gallery-item">
                    <i class="fa fa-picture"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- control div -->
      </div>
    </div>
  </div>
</div>
</div>
