<div class="framebattle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
          <h2>Create a new battle!</h2>
        </div>

        <fieldset>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="source_name">Battle name:</label>
            <div class="col-md-4">
              <input id="source_name" class="form-control" name="source_name" ng-model="bName" type="text" placeholder="Battle Name" class="form-control input-md">

            </div>
          </div>
          <br />

          <!-- Text input-->
          <div class="form-group">

            <label class="col-md-4 control-label" for="source_url">URL:</label>
            <div class="col-md-4">
              <input id="source_url" ng-model="vidtext" name="source_url" type="text" placeholder="URL of the video">

              <br />

              <button class="previewbutton" type="button" ng-click="getVidId()">Preview <i class="fa fa-search-plus"></i></button>

              <br>

              <img src="https://ytimg.googleusercontent.com/vi/{{vidid}}/default.jpg" /></h4>
            </div>
          </div>

          <br />
          <!-- Text input-->
          <div class="form-group">
            <br /><br />
            <label class="col-md-4 control-label" for="source_url">Vote limit:</label>
            <div class="col-md-4">
              <input id="source_vote" ng-model="numVotes" name="source_vote" type="text" placeholder="number of votes to win">
            </div>
          </div>

          <!-- <h4>Enter a YouTube url to compete with: <input type="text"  ng-model="vidtext" placeholder="video URL"><button type="button" ng-click="getVidId()" name="button">preview</button> -->
          <br />

          <button data-wow-delay="0.3s" class="btn btn-success" ng-click="addBattle()" type="submit" name="button">GO<i class="fa fa-bolt"></i></button>

          <br />

        </fieldset>
      </div>
    </div>
