<div class="framebattle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="page-header">

          <div class="modal-dialog">
            <div class="loginmodal-container">
              <h1>Register</h1><br>
              <form ng-submit="join()" method="post">
                <input type="text" name="user" placeholder="Username" ng-model="user.username">
                <input type="password" name="pass" placeholder="Password" ng-model="user.password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
              </form>

              <div class="login-help">
                <a ui-sref="login">Already have an account? Login!</a>
              </div>

              <a class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with facebook
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
