<!-- <head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head> TESTING -->

<div class="framebattle">
  <div class="container">
    <div class="row">
      <!--  <div class="col-md-6 col-md-offset-3"> -->
      <div class="page-header">
        <div class="col-md-9 col-md-offset-1">
          <div class="headline">
            <h2>
            <i class="icon-star opacity-large"></i>
          <!--   <i class="icon-star opacity-medium"></i> -->
            <i class="icon-star opacity-medium"></i>
            <i class="icon-star opacity-small"></i>
           <!--  &nbsp; -->
            {{featuredVid.battleName}}
           <!--  &nbsp; -->
            <i class="icon-star opacity-small"></i>
          <!--   <i class="icon-star opacity-medium"></i> -->
            <i class="icon-star opacity-medium"></i>
            <i class="icon-star opacity-large"></i>
          </h2>
          </div>
          <br />
          <div class="iso-box breakfast pizza lunch col-md-4 col-sm-6 join-thumb">
            <br />
            <h5> votes to win: {{featuredVid.voteGoal}}</h5>
            <div class="gallery-thumb">
              <img ng-src="{{thumb}}" class="fluid-img" alt="Gallery">
            </div>
          </div>

          <div class="col-md-5 join-content">
            <form> <br />
              <h4> Enter a YouTube url to compete with: </h4> <br /> <input type="text" class="form-control" ng-model="vidtext" placeholder="video URL"><button type="button" ng-click="getVidId()" class="previewbutton" name="button">preview</button>
              <!-- <button class="btn btn-warning" ng-click="foundMatch(featuredVid)" type="submit" name="button">CHALLENGE</button> -->

              <button class="button button-neutral" type="button" ng-click="foundMatch(featuredVid)" type="submit">CHALLENGE <i class="fa fa-bolt"></i></button>
              <img src="https://ytimg.googleusercontent.com/vi/{{vidid}}/default.jpg" /> <br /> <br />
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
