<div class="container">	  
  <div class="row">

	<div ng-controller="battleName">
      <h2>{{ text }}</h2>
    </div> 	
	<div class="col-xs-6" ng-controller="battlePart1">
 	  <h1>{{ text }}</h1>
 	</div>
 	<div class="col-xs-6" ng-controller="battlePart2">
 	  <h1>{{ text }}</h1>
 	</div>
    <div class="col-md-6" ng-controller="video1"/>
      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OnhXkCPMeMc" frameborder="0" allowfullscreen></iframe>
      </div>
      Video 1: {{ text }}
	</div>
	<div class="col-md-6" ng-controller="video2"/>
	  <div class="videoWrapper">
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/vxCrqtdEXAA" frameborder="0" allowfullscreen></iframe>
      </div>
      Video 2: {{ text }}
	</div>
  </div>
</div>
	<br><br>
<!-- to-do list -->
	<div id="categoryDiv" ng-controller="categoryCtrl">
  	  <h3 >Add a category you'd like to see:	 </h3>
  	  <input type="text" ng-model="category"/>
  	  <input type="button" value="Add" ng-click="addCategory()">
	  <ul class="categoryList"> 
	    <li ng-repeat="category in categories">{{category}}  <a href="" ng-click="removeCategory($index)">Remove</a></li>
	  </ul>
	</div>
	<br><br>
	<div id="userNamesDiv" ng-controller="userNamesCtrl">
	<h3>Top chUsr Talent</h3>
	<ul >
	 <li ng-repeat="userNames in userNames | orderBy: '-rating'">
	 	User: <a href="#">{{ userNames.username | uppercase }}</a> - Rating: {{userNames.rating}}
	 </li>
	</ul>
	</div>
	<br><br>