<div class="container">
  <div class="row">

	<div ng-controller="myCtrl">
        <div class="text-center">
          <h2>#iCharlton Dance Challenge</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 wrapper">
<!--               <label class="text-center"> First video </label> -->
			  <h2> First video </h2>
              <youtube-video video-url="video1" player="bestPlayer" enablejsapi="true" video-id="whtbb" player-width="'100%'" player-vars="playerVars">
              </youtube-video>
              <button class="btn btn-danger" id="mybutton" ng-click = "pauseFirstBeginSecond(bestPlayer, bestPlayer2)">Skip</button>
              <button ng-show="showVotes" class="btn btn-success" id="vote1" ng-click="pauseSecond(bestPlayer2)">Vote!</button>
            </div>
            <div class="col-sm-6 wrapper">
<!--               <label class="text-center"> Second video </label> -->
			  <h2> Second Video </h2>
              <youtube-video id="second" video-url="video2" player="bestPlayer2" enablejsapi="true" video-id="braingame" player-width="'100%'">
              </youtube-video>
              <button ng-hide="video2NotStarted" class="btn btn-danger" id="mybutton2" ng-click="pauseSecond(bestPlayer2)">Skip</button>
              <button ng-show="showVotes" class="btn btn-success" id="vote2" ng-click="pauseSecond(bestPlayer2)">Vote!</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
	<br><br>
<!-- to-do list -->
<!-- 	<div id="categoryDiv" ng-controller="categoryCtrl">
  	  <h3 >Add a category you'd like to see:	 </h3>
  	  <input type="text" ng-model="category"/>
  	  <input type="button" value="Add" ng-click="addCategory()">
	  <ul class="categoryList">
	    <li ng-repeat="category in categories">{{category}}  <a href="" ng-click="removeCategory($index)">Remove</a></li>
	  </ul>
	</div>
	<br><br>
	<div id="userNamesDiv" ng-controller="userNamesCtrl">
	<h3>Top chUsr Talent</h3>
	<ul >
	 <li ng-repeat="userNames in userNames | orderBy: '-rating'">
	 	User: <a href="#">{{ userNames.username | uppercase }}</a> - Rating: {{userNames.rating}}
	 </li>
	</ul>
	</div> -->
	<br><br>
