<div class="framebattle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
          <h2>Create a new battle!</h2>
        </div>

        <fieldset>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="source_name">Battle name</label>
            <div class="col-md-4">
              <input id="source_name" name="source_name" type="text" placeholder="Battle Name" class="form-control input-md">
            </div>
          </div>
          <br />

                    <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="source_url">Video URL</label>
            <div class="col-md-4">
              <input id="source_url" ng-model="vidtext" name="source_url" type="text" placeholder="URL of the video">
              <a href="#feature" class="wow fadeInUp btn btn-info hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" ng-click="getVidId()">preview</a> 
              <br>

             
              <img src="https://ytimg.googleusercontent.com/vi/{{vidid}}/default.jpg"/></h4>
            </div>
          </div>
 <h3> <a href="#feature" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" ng-click="addUnjoined()" type="submit" name="button">TO BATTLE !</a></h3>
        <!-- <h4>Enter a YouTube url to compete with: <input type="text"  ng-model="vidtext" placeholder="video URL"><button type="button" ng-click="getVidId()" name="button">preview</button> -->
        <br /> <br /> <br />
       <!--  <button class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="0.3s" ng-click="addUnjoined()" type="submit" name="button">TO BATTLE!!</button> -->

      </fieldset>
    </div>
  </div>


   