



        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Register</h1><br>
          <form ng-submit="join()" method="post">
          <input type="text" name="user" placeholder="Username" ng-model="user.username">
          <input type="password" name="pass" placeholder="Password" ng-model="user.password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
          
          <div class="login-help">
          <a ui-sref="login">Already have an account? Login!</a> 
          </div>
        </div>
      </div>
      </div> 