<!-- <head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head> TESTING -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h2>Join this battle for glory and lolz</h2>
      </div>
      <form>
        <h4>Challenger name: <input type="text" placeholder="Challenger name"></h4>
        <h4>Enter a YouTube url to compete with: <input type="text" placeholder="video URL"></h4>
        <img src="https://ytimg.googleusercontent.com/vi/EKyirtVHsK0/default.jpg"/>
        <button class="btn btn-warning" type="submit" name="button">CHALLENGE</button>
    </form>
    </div>
  </div>
</div>
