<br><br><br><br><br><br><br><br><br>
<form ng-submit="login()">
    <h3>Log In</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
<br>
<a ui-sref="join">Don't have an account? Join now!</a>
<br><br><br><br><br><br><br><br><br>