<div class="framebattle">
  <div class="container">

<section id="gallery" class="parallax-section">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
          <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
            <h2>Ongoing Battles</h2>
            <h4>Vote for the winner and raise your rating!</h4>
            <div class="iso-section wow fadeInUp" data-wow-delay="0.6s">
              <ul class="filter-wrapper clearfix">
                <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                <li><a href="#" class="opc-main-bg" data-filter=".dance">Dance</a></li>
                <li><a href="#" class="opc-main-bg" data-filter=".pizza">Music</a></li>
                <li><a href="#" class="opc-main-bg" data-filter=".lunch">Talent</a></li>
                <li><a href="#" class="opc-main-bg" data-filter=".dinner">Skills</a></li>
              </ul>
                      <!-- iso box section -->

                    <div class="col-md-8"> </div>
                      <div class="iso-box-section wow fadeInUp" data-wow-delay="0.9s" >
                        <div class="iso-box-wrapper col4-iso-box">
             <!--              <h4 ng-attr-id="{{'p0'}}">{{result.battleName}}</h4>
                          <h4 ng-attr-id="{{'p1'}}">{{result.battleName}}</h4>
                          <h4 ng-attr-id="{{'p2'}}">{{result.battleName}}</h4>
                          <h4 ng-attr-id="{{'p4'}}">{{result.battleName}}</h4>
                          <h4 ng-attr-id="{{'p3'}}">{{result.battleName}}</h4> -->

                          <div ng-repeat="thumbnail in thumbnails track by $index" class="iso-box breakfast pizza lunch col-md-4 col-md-offset-0 col-sm-6" id="{{'progress' + $index}}">

                          <h4 >{{allOngoing[$index].battleName}}</h4>

                            <div ng-controller="progressCtrl">
                            <div ng-click="getCurr($index)" class="gallery-thumb ongoing-battle">
                              <a ui-sref="battle" data-lightbox-gallery="food-gallery">
                                <h4>{{vidCompetitor1Names[$index]}}</h4>
                                <img ng-src="{{thumbnail.video1}}" class="fluid-img" alt="Gallery"> <h2> VS </h2>
                                <h4>{{vidCompetitor2Names[$index]}}</h4>
                                <img ng-src="{{thumbnail.video2}}" class="fluid-img" alt="Gallery">
                                  <div class="gallery-overlay">
                                    <div class="gallery-item">
                                      <i class="fa fa-picture"></i>
                                    </div>
                                  </div>
                              </a>
                              <br>
                             <div id="{{'progress' + $index}}"></div>{{ percent }}% Done
                            </div>
                      </div>
                      </div>
                    </div>
                  <!-- control div -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- iso section -->
      </div>
    </div>
</section>
